/* PHASE 7: Online */
.online {
  background-color: #0c0;
  color: white;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  top: 10px;
  left: -20px;
  box-shadow: 0 1px 1px green;
  transform: rotate(-0.12turn) translateX(-5px);
  text-transform: uppercase;
  padding: 5px 20px;
}

.profile-picture {
  overflow: hidden;
}
